<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="text-2xl font-bold mb-4"><%= @album.title %></h1>

  <!-- Grid de fotos 2.0 -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% @photos.each_with_index do |photo, index| %>
      <div class="group cursor-pointer relative">
        <%= image_tag(photo.image, class: "w-full h-48 object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105", alt: "Image #{index}") %>
        <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
          <button class="bg-white text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-200 transition-colors">
            View
          </button>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Formulário de Envio -->
  <h2 class="text-xl font-semibold mb-2">Adicione uma nova foto</h2>

  <%= form_with(model: @photo, url: dashboard_album_photos_path(@album), local: true) do |form| %>
    <div class="flex items-center justify-center w-full">
        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <%= form.file_field :image, class: "hidden", id: "dropzone-file", direct: true %>
        </label>
    </div>
    <div class="mb-4">
      <%= form.label :caption, "Caption (optional)" %>
      <%= form.text_field :caption, class: "block w-full" %>
    </div>
    <%= form.submit "Upload", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Editar", edit_album_path(@album.unique_id), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Voltar", dashboard_albums_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>

  <div class="inline-block ml-2">
    <%= button_to "Apagar", destroy_album_path(@album.unique_id), method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
  </div>
</div>
